* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

:root {
    --negro: #151C1A;
    --colorado: #EA2134;
    --blanco: #F7F7F7;
    --gris: #6D7069;

}

body {
    background-color: var(--blanco);
    width: 100%;
}

/* -------Navegacion--------- */

.header-contenido {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 11;
    background: var(--blanco);
    /* background-color: brown; */
}

.barraNav {
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    position: relative;
    align-items: center;
}



.navegacion {
    /* background-color: aquamarine; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;

}

.lista {
    /* background-color: chartreuse; */
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    align-items: center;
    margin: 0px;
    height: 100%;
}

.lista li {
    display: list-item;
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 1.25px;
    white-space: normal;
}

.btn {
    position: relative;
    cursor: pointer;
    padding: 15px 25px;
    color: var(--negro);
}

.btn::after {
    content: "";
    position:absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--negro);
}

.estilos::after {
    transform:scale(0, 1);
    transition: transform 0.3s ease;
}

.estilos:hover::after {
    transform: scale(1, 1);
}

.tattoos::after {
    transform:scale(0, 1);
    transition: transform 0.3s ease;
}

.tattoos:hover::after {
    transform: scale(1, 1);
}

.home {
    /* background-color: blue; */
   margin-right: 5px;
   list-style: none;
}

.lista a.focus {
    border: 2px solid var(--negro);
}

/* -------Buscador--------- */

#ctn-icon-search {
    /* background-color: red; */
    display: flex;
    position: absolute;
    width: 20px;
    height: 100%;
    justify-content: center;
    align-items:center;
    margin:100%;

}

#ctn-icon-search i{
    font-size: 15px;
    color: var(--negro);
    cursor: pointer;
    padding: 15px 25px;
}

#ctn-bars-search {
    position: fixed;
    /* position fixed para q quede fija */
    top: -35px;
    width: 100%;
    background: white;
    padding: 20px;
    z-index: 10;
    /* el z index hace q el buscador este por encima de todo */
    transition: all 600ms;
}

#ctn-bars-search input {
    /* display: block; */
    width: 1280px;
    margin-left: 110px;
    padding: 10px;
    font-size: 18px;
    outline: 0; 
    /* el outline es para q no se marque con un recuadro negro la barra buscadora cunado aprieto para escribir */
}

#boxSearch {
    position: fixed;
    margin: 0px;
    top: 130px;
    width: 100%;
    background: white;
    z-index: 9;
    list-style-type: none;
    display: none;
}

#boxSearch li a{
    display: block;
    /* hago display block para que cada a se vea como un bloque, cada una con su margen */
    width: 1280px;
    margin-left: 130px;
    color: darkslategray;
    padding: 10px;

}

#boxSearch li a i{
    margin-right: 10px;
}

#boxSearch li a:hover{
    background-color: whitesmoke;
}

/* -------cuerpo--------- */

.container-cuerpo {
    /* background-color: red; */
    width: 1280px;
    margin: auto;
    position: relative;
    top: 85px;
}

.card1 {
    /* background-color: aquamarine; */
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

.img-card1 {
    height: 500px;
    width: 600px;
    cursor: pointer;
}

.img-card1 a img {
    height: 500px;
    width: 600px;
    object-fit: cover;
    position: absolute;
    left:0px
}

.img-card1 h2 {
    position: absolute;
    top: 460px;
    left:25px;
    color: var(--blanco);
    font-size: 15px;
    text-decoration: underline;
}

.cont-card1 {
    /* background-color: #F7F7F7; */
    width: 500px;
    height: 300px;
    margin-left: 20px;
    cursor: pointer;
}

.antetitulo-card1 {
    color: var(--colorado);
    font-size: 14px;
    letter-spacing: 1.25;
    font-weight: lighter;
    margin-bottom: 10px;
}

.tit-card1 {
    color: var(--negro);
    font-size: 60px;
    margin-bottom: 10px;
}

.parr-card1 {
    color: var(--negro);
    font-size: 18px;
}

.logo-leerMas1 {
    /* background-color: bisque; */
    position: absolute;
    top: 450px;
    margin-left: 620px;
    cursor: pointer;
}

.logo-leerMas1 a {
    /* background-color: #EA2134; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--negro);
    height: 50px;
}

.logo-leerMas1 a i{
    font-size: 30px;
    margin-right: 10px;
}

.logo-leerMas1 a h2 {
    font-size: 20px;
}
 
.card2 {
    /* background-color: gold; */
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

.cont-card2 {
    /* background-color: #F7F7F7; */
    display: flex;
    width: 580px;
    height: 300px;
    margin-left: 50px;
    cursor: pointer;   
}

.img-card2 {

    height: 500px;
    width: 600px;
    cursor: pointer;  
}

.img-card2 a img {
    height: 500px;
    width: 600px;
    object-fit: cover;
    position: absolute;
    left: 680px;
}


.img-card2 h2 {
    position: absolute;
    top: 460px;
    right:25px;
    color: var(--blanco);
    font-size: 15px;
    text-decoration: underline;
    /* background-color: aquamarine; */
}

.antetitulo-card2 {
    color: var(--colorado);
    font-size: 14px;
    letter-spacing: 1.25;
    font-weight: lighter;
    margin-bottom: 10px;
}

.tit-card2 {
    color: var(--negro);
    font-size: 60px;
    margin-bottom: 10px;
}

.parr-card2 {
    color: var(--negro);
    font-size: 18px;
}

.logo-leerMas2 {
    /* background-color: bisque; */
    position: absolute;
    top: 450px;
    margin-left: 52px;
    cursor: pointer;
}

.logo-leerMas2 a {
    /* background-color: #EA2134; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--negro);
    height: 50px;
}

.logo-leerMas2 a i {
    font-size: 30px;
    margin-right: 10px;
}

.logo-leerMas2 a h2 {
    font-size: 20px;
}

/* -------pie de pagina--------- */

.container-footer {
    width: 100%;
    padding: 40px 0;
    background: var(--negro);
    margin-top: 115px;
}   


.container-footer footer {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer {
    text-align: start;
    display: flex;
    justify-content: center;
    
}

.logo-footer h2 {
    color: var(--blanco);
    font-size: 30px;
}

.año h3 {
    font-size: 12px;
    color: var(--gris);
}

.redes-footer {
    display: flex;
    justify-content: center;
}

.icono-redes-footer {
    font-size: 30px;
    margin: 5px;
    background: transparent;
    width: 50px;
    height: 50px;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-footer hr {
    border: none;
    width: 1280px;
    height: 1px;
    background: var(--blanco);
    margin: auto;
}

/* ------------------------------------- responsive design ----------------------------------------- */

#iconMenu {
    /* background-color: red; */
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    display: none;
}

@media (max-width: 1220px) {
    .barraNav,
    .contenedorInfo,
    .container-cuerpo,
    .container-footer hr,
    .container-footer footer {
        max-width: 1000px;
        padding: 0 20px;
    }

    .container-cuerpo {
        width: 100%;
        margin: auto;
    }

    /* -------Buscador--------- */

    #ctn-icon-search {
        /* background-color: red; */
        display: flex;
        position: absolute;
        width: 20px;
        height: 100%;
        justify-content: center;
        align-items:center;
        margin:94%;

    }

    #ctn-icon-search i{
        font-size: 15px;
        color: var(--negro);
        cursor: pointer;
        padding: 15px 25px;
    }

    #ctn-bars-search {
        position: fixed;
        /* position fixed para q quede fija */
        top: -35px;
        width: 100%;
        background: white;
        padding: 20px;
        z-index: 10;
        /* el z index hace q el buscador este por encima de todo */
        transition: all 600ms;
    }

    #ctn-bars-search input {
        /* display: block; */
        width: 980px;
        margin-left: 100px;
        padding: 10px;
        font-size: 18px;
        outline: 0; 
        /* el outline es para q no se marque con un recuadro negro la barra buscadora cunado aprieto para escribir */
    }

    #boxSearch {
        position: fixed;
        margin: 0px;
        top: 130px;
        width: 100%;
        background: white;
        z-index: 9;
        list-style-type: none;
        display: none;
    }

    #boxSearch li a{
        display: block;
        /* hago display block para que cada a se vea como un bloque, cada una con su margen */
        width: 100%;
        margin-left: 130px;
        color: darkslategray;
        padding: 10px;

    }

    #boxSearch li a i{
        margin-right: 10px;
    }

    #boxSearch li a:hover{
        background-color: whitesmoke;
    }

}

/* ---------------------------------------------------------------------------------------------- */

@media (max-width: 1000px) {

    .containerAll {
        background-color: #EA2134;
        width: 100%;
    }

    /* -------cuerpo--------- */

.container-cuerpo {
    background-color: red; 
    width: 100%;
    margin: auto;
    position: relative;
    top: 85px;
}

.card1 {
    background-color: aquamarine;
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

.img-card1 {
    display: flex;
    /* border-radius: 5px; */
    justify-content: flex-start;
    height: 500px;
    width: 600px;
    object-fit: cover;
    cursor: pointer;
}

.img-card1 h2 {
    position: absolute;
    top: 460px;
    left:25px;
    color: var(--blanco);
    font-size: 15px;
    text-decoration: underline;
}

.cont-card1 {
    background-color: #F7F7F7;
    width: 330px;
    height: 420px;
    margin-left: 20px;
    cursor: pointer;
}

.antetitulo-card1 {
    color: var(--colorado);
    font-size: 14px;
    letter-spacing: 1.25;
    font-weight: lighter;
    margin-bottom: 10px;
}

.tit-card1 {
    color: var(--negro);
    font-size: 40px;
    margin-bottom: 10px;
}

.parr-card1 {
    color: var(--negro);
    font-size: 18px;
}

.logo-leerMas1 {
    /* background-color: bisque; */
    position: absolute;
    top: 450px;
    margin-left: 620px;
    cursor: pointer;
}

.logo-leerMas1 a {
    /* background-color: #EA2134; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--negro);
    height: 50px;
}

.logo-leerMas1 a i{
    font-size: 30px;
    margin-right: 10px;
}

.logo-leerMas1 a h2 {
    font-size: 20px;
}
 
.card2 {
    background-color: gold;
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

.img-card2 {
    display: flex;
    justify-content: flex-end;
    /* border-radius: 20px; */
    height: 500px;
    width: 600px;
    object-fit: cover;
    cursor: pointer;  
}

.cont-card2 {
    background-color: #F7F7F7;
    display: flex;
    width: 330px;
    height: 420px;
    margin-left: 10px;
    cursor: pointer;   
}

.img-card2 h2 {
    position: absolute;
    top: 460px;
    right:25px;
    color: var(--blanco);
    font-size: 15px;
    text-decoration: underline;
}

.antetitulo-card2 {
    color: var(--colorado);
    font-size: 14px;
    letter-spacing: 1.25;
    font-weight: lighter;
    margin-bottom: 10px;
}

.tit-card2 {
    color: var(--negro);
    font-size: 60px;
    margin-bottom: 10px;
}

.parr-card2 {
    color: var(--negro);
    font-size: 18px;
}

.logo-leerMas2 {
    /* background-color: bisque; */
    position: absolute;
    top: 450px;
    margin-left: 52px;
    cursor: pointer;
}

.logo-leerMas2 a {
    /* background-color: #EA2134; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--negro);
    height: 50px;
}

.logo-leerMas2 a i {
    font-size: 30px;
    margin-right: 10px;
}

.logo-leerMas2 a h2 {
    font-size: 20px;
}
}