* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --negro: #151C1A;
    --colorado: #EA2134;
    --blanco: #F7F7F7;
    --gris: #6D7069;

}

body {
    background-color: var(--blanco);
    width: 100%;
}

/* -------Navegacion--------- */

.header-contenido {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    background: var(--blanco);
    /* background-color: brown; */
}

.barraNav {
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    position: relative;
    align-items: center;
}

.navegacion {
    /* background-color: aquamarine; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;

}

.lista {
    /* background-color: chartreuse; */
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    align-items: center;
    margin: 0px;
    height: 100%;
}

.lista li {
    display: list-item;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 1.25px;
    white-space: normal;
}

.btn {
    position: relative;
    cursor: pointer;
    padding: 15px 25px;
    color: var(--negro);
}

.btn::after {
    content: "";
    position:absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--negro);
}

.estilos::after {
    transform:scale(0, 1);
    transition: transform 0.3s ease;
}

.estilos:hover::after {
    transform: scale(1, 1);
}

.tattoos::after {
    transform:scale(0, 1);
    transition: transform 0.3s ease;
}

.tattoos:hover::after {
    transform: scale(1, 1);
}

.home {
    /* background-color: blue; */
   margin-right: 5px;
}

.lista a.focus {
    border: 2px solid var(--negro);
}

/* -------Buscador--------- */

.iconoLupa {
    /* background-color: red; */
    display: flex;
    position: absolute;
    width: 20px;
    height: 100%;
    justify-content: center;
    align-items:center;
    margin:100%;

}

.iconoLupa i{
    font-size: 15px;
    color: var(--negro);
    cursor: pointer;
    padding: 15px 25px;
}

.ctn-barraBuscar {
    position: fixed;
    /* position fixed para q quede fija */
    top: 80px;
    width: 100%;
    background: white;
    padding: 20px;
    z-index: 10;
    /* el z index hace q el buscador este por encima de todo */
}

.ctn-barraBuscar input {
    /* display: block; */
    width: 1280px;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    outline: 0; 
    /* el outline es para q no se marque con un recuadro negro la barra buscadora cunado aprieto para escribir */
}

.box-search {
    position: fixed;
    margin: 0px;
    top: 165px;
    width: 1280px;
    background: white;
    z-index: 9;
    list-style-type: none;
}

.box-search li a{
    display: block;
    /* hago display block para que cada a se vea como un bloque, cada una con su margen */
    width: 1280px;
    color: darkslategray;
    padding: 10px;

}

.box-search li a i{
    margin-right: 10px;
}

.box-search li a:hover{
    background-color: whitesmoke;
}

/* -------Imagen Protada--------- */

.portada {
    width: 100%;
    height: 850px;
    top: 55px;
    position:relative;
    background-color: var(--negro);
}

.imgPortada {
    background-color: var(--gris);
    width: 100%;
    height: 100%;
    position: absolute;
}

.contenedorInfo {
    /* background-color: red; */
    position: absolute;
    width: 600px;
    height: 500px;
    top: 80px;
    /* margin: auto; */
    /* no me funciona el margin auto */
    margin-left: 120px;
}

.contenedorInfo h2 {
    font-size: 25px;
    color: var(--blanco);
    margin-bottom: 20px;
    letter-spacing: 2px;

}

.contenedorInfo h1 {
    font-size: 45px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: var(--blanco);
}

.contenedorInfo p {
    font-size: 20px;
    color: var(--blanco);
    letter-spacing: 1px;
}

/* -------cuerpo--------- */

.container-cuerpo {
    /* background-color: red; */
    width: 1280px;
    margin: auto;
    position: relative;
    top: 85px;
}

.card1 {
    /* background-color: aquamarine; */
    display: flex;
    width: 100%;
    height: 500px;
}

.img-card1 {
    display: flex;
    border-radius: 20px;
    justify-content: flex-start;
    height: 500px;
    width: 600px;
    object-fit: cover;
    cursor: pointer;
}

.cont-card1 {
    /* background-color: #F7F7F7; */
    width: 500px;
    height: 300px;
    margin-left: 20px;
    cursor: pointer;
}

.antetitulo-card1 {
    color: var(--colorado);
    font-size: 14px;
    letter-spacing: 1.25;
    font-weight: lighter;
    margin-bottom: 10px;
}

.tit-card1 {
    color: var(--negro);
    font-size: 60px;
    margin-bottom: 10px;
}

.parr-card1 {
    color: var(--negro);
    font-size: 20px;
}

.logo-leerMas1 {
    /* background-color: bisque; */
    position: absolute;
    top: 450px;
    margin-left: 620px;
    cursor: pointer;
}

.logo-leerMas1 a {
    /* background-color: #EA2134; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--negro);
    height: 50px;
}

.logo-leerMas1 a i{
    font-size: 30px;
    margin-right: 10px;
}

.logo-leerMas1 a h2 {
    font-size: 20px;
}
 
.card2 {
    /* background-color: gold; */
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

.img-card2 {
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    height: 500px;
    width: 900px;
    object-fit: cover;
    cursor: pointer;  
}

.cont-card2 {
    /* background-color: #F7F7F7; */
    display: flex;
    width: 880px;
    height: 300px;
    margin-left: 50px;
    cursor: pointer;   
}

.antetitulo-card2 {
    color: var(--colorado);
    font-size: 14px;
    letter-spacing: 1.25;
    font-weight: lighter;
    margin-bottom: 10px;
}

.tit-card2 {
    color: var(--negro);
    font-size: 60px;
    margin-bottom: 10px;
}

.parr-card2 {
    color: var(--negro);
    font-size: 18px;
}

.logo-leerMas2 {
    /* background-color: bisque; */
    position: absolute;
    top: 450px;
    margin-left: 52px;
    cursor: pointer;
}

.logo-leerMas2 a {
    /* background-color: #EA2134; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--negro);
    height: 50px;
}

.logo-leerMas2 a i {
    font-size: 30px;
    margin-right: 10px;
}

.logo-leerMas2 a h2 {
    font-size: 20px;
}



/* .container-cuerpo {
    background-color: red;
    width: 1280px;
    margin: auto;
    top: 5000px;
}

.card1 {
    background-color: var(--colorado);
    width: 1280px;
    top: 120px;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.imgNota {
    background-color: var(--gris);
    background-image: url(./Imagenes/jota.png);
    height: 500px;
    width: 400px;
    background-position: center;
    border-radius: 15px;
    display: flex;
    position: absolute;
    left: 0%;
    cursor: pointer;
}

.notaContenido {
    /* background-color: aquamarine; */
    /* position: absolute;
    left: 35%;
    top: 100%;
    width: 500px;
    height: 225px;
    cursor: pointer;
}

.clase {
    color: var(--colorado);
    font-size: 14px;
    letter-spacing: 1.25;
    font-weight: lighter;
    margin-bottom: 10px;
}

.titEntrevista {
    color: var(--negro);
    font-size: 60px;
    margin-bottom: 10px;
}

.parEntrevista {
    color: var(--negro)
}

.entreNota{
    width: 1280px;
    height: 1px;
    border: none;
    background: var(--gris);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card2 {
    background-color: var(--colorado);
    width: 1280px;
    top: 660px;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.imgNota2 {
    background-color: var(--gris);
    background-image: url(./Imagenes/guia.jpg);
    height: 400px;
    width: 700px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    position: absolute;
    right: 0%;
    cursor: pointer;
}

.notaContenido2 { */
    /* background-color: aquamarine; */
    /* position: absolute;
    left: 0%;
    top: 0%;
    width: 500px;
    height: 225px;
    cursor: pointer;
}

.clase2 {
    color: var(--colorado);
    font-size: 14px;
    letter-spacing: 1.25;
    font-weight: lighter;
    margin-bottom: 10px;
    right: 0%;
}

.titEntrevista2 {
    color: var(--negro);
    font-size: 60px;
    margin-bottom: 10px;
}

.parEntrevista2 {
    color: var(--negro);
}

.entreNota {
    color: var(--gris);
    
}  */



/* -------pie de pagina--------- */

.container-footer {
    width: 100%;
    padding: 40px 0;
    background: var(--negro);
    margin-top: 115px;
}   


.container-footer footer {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer {
    text-align: start;
    display: flex;
    justify-content: center;
    
}

.logo-footer h2 {
    color: var(--blanco);
    font-size: 30px;
}

.año h3 {
    font-size: 12px;
    color: var(--gris);
}

.redes-footer {
    display: flex;
    justify-content: center;
}

.icono-redes-footer {
    font-size: 30px;
    margin: 5px;
    background: transparent;
    width: 50px;
    height: 50px;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-footer hr {
    border: none;
    width: 1280px;
    height: 1px;
    background: var(--blanco);
    margin: auto;
}

/* -------responsive design --------- */

#icon-menu {
    /* background-color: red; */
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    display: none;
    
}

#icon-menu:hover {
    background-color: var(--gris);
    border-radius: 30px;
}

@media (max-width: 1220px) {
    .barraNav,
    .contenedorInfo,
    .container-cuerpo,
    .container-footer hr,
    .container-footer footer {
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media (max-width: 1020px) {
    .container-cuerpo
     {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .container-cuerpo
     {
        width: 768px;
        height: 1900px;
        flex-direction: column;
        background-color: aqua;
    }
}

@media (max-width: 768px) {
    .card1
     {
        position:absolute;
        left: 0%;
        width: 768px;
        height: 920px;
        flex-direction: column;
        background-color: gold;
        
    }
}

@media (max-width: 768px) {
    .img-card1
     {
        position:absolute;
        left: 2%;
        width: 500px;
        height: 600px;
        flex-direction: column;
        background-color: gold;
        
    }
}

@media (max-width: 768px) {
    .cont-card1
     {
       background-color: #F7F7F7;
        position: absolute;
        width: 720px;
        height: 250px;
        left: 2px;
        top: 610px;
        cursor: pointer;
            
    }
}

@media (max-width: 768px) {
    .logo-leerMas1
     {
         background-color: #EA2134;
        /* position: absolute; */
        top: 860px;
        right: 78%;
        cursor: pointer; 
        width: 150px;
        display: flex;
        justify-content: space-between;
        
    }
}

@media (max-width: 768px) {
    .logo-leerMas1 a i
     {  
        top: 860px;
        font-size: 30px;
        margin-right: 10px;
        color: #151C1A;

    }
}



@media (max-width: 768px) {
    .card2
     {
        flex-direction: column;
        width: 768px;
        height: 920px;
        margin-top: 950px;
        background-color: #EA2134;
        position: absolute;
        left: 0%;
    }
}

@media (max-width: 768px) {
    .img-card2
     {
        position: absolute;
        left:0px;
        border-radius: 20px;
        height: 500px;
        width: 600px;
        object-fit: cover;
        cursor: pointer;  
    }
}

@media (max-width: 768px) {
    .cont-card2
     {
        position: absolute;
        left:2px;
        height: 250px;
        width: 720px;
        top: 600px;
        cursor: pointer;  
    }
}









