* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* background-color: antiquewhite; */
    width: 100%;
}

/* -------Navegacion--------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    background: white;
    /* background-color: brown; */
}

.barraNav {
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    position: relative;
    align-items: center;
}

.navegacion {
    /* background-color: aquamarine; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;

}

.lista {
    /* background-color: chartreuse; */
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    align-items: center;
    margin: 0px;
    height: 100%;
}

.lista li {
    display: list-item;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 1.25px;
    white-space: normal;
}

.btn {
    position: relative;
    cursor: pointer;
    padding: 15px 25px;
    color: black;
}

.btn::after {
    content: "";
    position:absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: black;
}

.estilos::after {
    transform:scale(0, 1);
    transition: transform 0.3s ease;
}

.estilos:hover::after {
    transform: scale(1, 1);
}

.tattoos::after {
    transform:scale(0, 1);
    transition: transform 0.3s ease;
}

.tattoos:hover::after {
    transform: scale(1, 1);
}

.home {
    /* background-color: blue; */
   margin-right: 5px;
}

.lista a.focus {
    border: 2px solid var(--grisOscuro);
}

/* -------Buscador--------- */

.iconoLupa {
    /* background-color: red; */
    display: flex;
    position: absolute;
    width: 20px;
    height: 100%;
    justify-content: center;
    align-items:center;
    margin:100%;

}

.iconoLupa i{
    font-size: 15px;
    color: darkslategrey;
    cursor: pointer;
    padding: 15px 25px;
}

.ctn-barraBuscar {
    position: fixed;
    /* position fixed para q quede fija */
    top: 80px;
    width: 100%;
    background: white;
    padding: 20px;
    z-index: 10;
    /* el z index hace q el buscador este por encima de todo */
}

.ctn-barraBuscar input {
    /* display: block; */
    width: 1280px;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    outline: 0; 
    /* el outline es para q no se marque con un recuadro negro la barra buscadora cunado aprieto para escribir */
}

.box-search {
    position: fixed;
    margin: 0px;
    top: 165px;
    width: 1280px;
    background: white;
    z-index: 9;
    list-style-type: none;
}

.box-search li a{
    display: block;
    /* hago display block para que cada a se vea como un bloque, cada una con su margen */
    width: 1280px;
    color: darkslategray;
    padding: 10px;

}

.box-search li a i{
    margin-right: 10px;
}

.box-search li a:hover{
    background-color: whitesmoke;
}

/* -------Imagen Protada--------- */

.portada {
    width: 100%;
    height: 850px;
    top: 55px;
    position:relative;
}

.imgPortada {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    position: absolute;
}

.contenedorInfo {
    /* background-color: red; */
    position: absolute;
    width: 600px;
    height: 500px;
    top: 70px;
    /* margin: auto; */
    /* no me funciona el margin auto */
    margin-left: 120px;
}

.contenedorInfo h2 {
    font-size: 25px;
    color: azure;
    margin-bottom: 20px;
    letter-spacing: 2px;

}

.contenedorInfo h1 {
    font-size: 45px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: azure;
}

.contenedorInfo p {
    font-size: 20px;
    color: azure;
    letter-spacing: 1px;
}

/* -------cuerpo--------- */

.card1 {
    /* background-color: red; */
    width: 1280px;
    top: 100px;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.imgNota {
    background-color: antiquewhite;
    background-image: url(./Imagenes/jota.png);
    height: 500px;
    width: 400px;
    background-position: center;
    border-radius: 15px;
    display: flex;
    position: absolute;
    left: 0%;
    cursor: pointer;
}

.notaContenido {
    /* background-color: aquamarine; */
    position: absolute;
    left: 35%;
    top: 0%;
    width: 500px;
    height: 225px;
    cursor: pointer;
}

.clase {
    color: red;
    font-size: 14px;
    letter-spacing: 1.25;
    font-weight: lighter;
    margin-bottom: 10px;
}

.titEntrevista {
    color: black;
    font-size: 60px;
    margin-bottom: 10px;
}

.parEntrevista {
    color: black
}

.card2 {
    background-color: red;
    width: 1280px;
    top: 660px;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.imgNota2 {
    background-color: antiquewhite;
    background-image: url(./Imagenes/guia.jpg);
    height: 400px;
    width: 700px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    position: absolute;
    right: 0%;
    cursor: pointer;
}

.notaContenido2 {
    /* background-color: aquamarine; */
    position: absolute;
    left: 0%;
    top: 0%;
    width: 500px;
    height: 225px;
    cursor: pointer;
}

.clase2 {
    color: red;
    font-size: 14px;
    letter-spacing: 1.25;
    font-weight: lighter;
    margin-bottom: 10px;
    right: 0%;
}

.titEntrevista2 {
    color: black;
    font-size: 60px;
    margin-bottom: 10px;
}

.parEntrevista2 {
    color: black
}

.entreNota {
    color: gray;
    
}


/* -------pie de pagina--------- */

.container-footer {
    width: 100%;
    padding: 40px 0;
    background: darkslategray;
    margin-top: 1100px;
}





/* -------responsive--------- */
S
#icon-menu {
    /* background-color: red; */
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    display: none;
    
}

#icon-menu:hover {
    background-color: whitesmoke;
    border: 1px solid black;
}